<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Test</title>
</head>

<body>

    <header>
        <div class="logo">
            <img src="./../../../img/sentimenter.png">
            <p>Sentimenter</p>
        </div>
        <div class="">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Explore</li>
                <li>Contact</li>
            </ul>
        </div>
    </header>

    <main>
        <section>
            <h1> Evaluate web pages with natural language processing </h1>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <label></label><input id="name" type="text" name="input" value="" placeholder="Enter the URL">
                <input type="submit" name="" value="Get the sentiment" onclick="return Client.handleSubmit(event)"
                    onsubmit="return handleSubmit(event)">
            </form>
        </section>

        <section>
            <strong id="strong"></strong>
            <div id="results"></div>
        </section>
    </main>

    <footer class="page__footer footer">
        <!-- <p>&copy Nxchange</p> -->
        &copy; Sentimenter 2021
        <div class="social">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
        </div>
    </footer>

</body>
<!-- <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script> -->

</html>